#hero1{
    display: block;
    align-items: center;
    justify-content: center;
    justify-items: center;

}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url('../../assets/hero.png ');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text1{
    margin-left: 15%;
    text-align: center;
    max-width: 800px;
    padding: 25px;
}
.hero-text1 h1{
    font-size: 50px;
    font-weight: 600;

}
.hero-text1 p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
    font-size: 24px;

}
.hero-text1 h5{
    font-size: 20px;
}
.nglogo{
    width: 10%;
    
}

.eventcompleted{
    padding-top: 15%;
    width: 100%;
    display: flex;
	flex-direction: row;
	justify-content: center;
	

 
	
}
.eventcompleted h2{
    font-weight: 800;
    font-size: 70px;
    font-style: italic;
    color: rgb(185, 191, 181);
}

/* ----- Media query --------------- */


@media  (max-width: 940px) {
    #hero1{
        display: block;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    .hero-text1{
        align-items: center;
        margin-top: 0.5rem;
        margin-left: 10px;
    }

    .hero-text1 h1{
        font-size: 40px;
    }

}
@media  (max-width: 650px){
    #hero1{
        display: block;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .hero-text1 h1{
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    .hero-text1 p{
        font-size: 14px;
        margin: 15px auto 30px;

    }
    .eventcompleted h2{
        font-size: 50px;
    }

}